Package: citronics-lime-fp2
Version: 2.1
Architecture: armhf
Maintainer: Citronics <info@citronics.eu>
Depends: linux-image-6.16.12-msm8974-citronics-lime-fp2, linux-firmware-lime-fp2, citronics-initramfs, unudhcpd
Section: metapackages
Priority: optional
Description: Citronics Lime meta-package for Fairphone 2
 Installs the complete Citronics Lime software stack for Fairphone 2:
 firmware, initramfs, and DHCP helper.
